<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="with=device-with, initial-scale=1.0">
        <title>Bienvenido/a a Codebreaker</title>
    </head>
    <body>
        <h1>Bienvenido/a Codebreaker</h1>
        <form action="/" method="post">
            <input type="text" name="numero" id="numero" />
            <input type="submit" value="Arriesgar" />
        </form>
        <div id="mensaje"><%=@mensaje%></div>
    </body>
</html>